{% extends 'base.html' %}

{% block main %}
<h1>{{ faucet_name }}</h1>
       
<div class="maindiv">
    <h2>Recieve Domain</h2>
    
    <form method="POST">
        <input type="email" class="textentry" name="email" placeholder="johnny@namebase.io" required></input>
        <br>
        <input type="submit" class="button" value="Submit"></input>
        {% if error %}
        <p class="error">{{ error }}</p>
        <br>
        {% endif %}
    </form>
</div>
<br>
<div class="maindiv">
    <p><b>Names given away: </b>{{ names_given }}</p>
    <p><b>Names left: </b>{{ names_left }}</p>
</div>
{% endblock %}